folders:
  introduced:
    test_firewall_ssh:
      3.2
    test_query_tracing:
      3.2
    test_secrets_cmr:
      3.1
    test_secrets_juju:
      3.1
    test_secrets_vault:
      3.1
    test_secrets:
      3.1
    test_secret_drain:
      3.2
    test_user_secret_drain:
      3.3
    test_user_secrets:
      3.3
    test_controllercharm:
      3.3
    test_dashboard_deploy:
      3.1
    test_deploy_coslite:
      3.1
    test_actions_params:
      4.0
  timeout:
    secrets_iaas:
      test_secrets_vault: 60
    model:
      test_model_migration: 90
      test_model_migration_version: 50
    magma:
      test_deploy_magma: 90
    deploy:
      test_deploy_bundles: 50
  unstable:
    deploy:
      lxd:
        - test_deploy_bundles
        - test_deploy_charms
      aws:
        - test_deploy_os
    model:
      lxd:
        - test_model_multi
        - test_model_migration_saas_external
      aws:
        - test_model_multi
        - test_model_migration_saas_external
      google:
        - test_model_multi
        - test_model_migration_saas_external
    dashboard:
      microk8s:
        - test_dashboard_deploy
  ephemeral:
    - sidecar
    - smoke-aws
  skip-all:
    - examples
    - ovs_maas
    - static_analysis
    - ck
    - kubeflow
    - metrics
  skip-lxd:
    - caasadmission
    - coslite
    - deploy_aks
    - deploy_caas
    - firewall
    - magma
    - sidecar
    - spaces_ec2
    - storage
    - secrets_k8s
    - smoke_k8s
  skip-aws:
    - bootstrap
    - caasadmission
    - cli
    - constraints
    - coslite
    - deploy_aks
    - deploy_caas
    - magma
    - sidecar
    - upgrade
    - upgrade_series
    - secrets_iaas
    - secrets_k8s
    - smoke_k8s
  skip-google:
    - agents
    - appdata
    - backup
    - bootstrap
    - branches
    - caasadmission
    - charmhub
    - controllercharm
    - cli
    - cmr
    - coslite
    - controller
    - credential
    - deploy
    - deploy_aks
    - deploy_caas
    - firewall
    - hooks
    - hooktools
    - machine
    - magma
    - manual
    - refresh
    - relations
    - resources
    - sidecar
    - smoke
    - smoke_k8s
    - spaces_ec2
    - storage
    - unit
    - upgrade
    - upgrade_series
    - user
    - secrets_iaas
    - secrets_k8s
  skip-azure:
    - agents
    - appdata
    - backup
    - bootstrap
    - branches
    - caasadmission
    - charmhub
    - controllercharm
    - cli
    - cmr
    - constraints
    - coslite
    - controller
    - credential
    - deploy
    - deploy_caas
    - firewall
    - hooks
    - hooktools
    - machine
    - magma
    - manual
    - model
    - refresh
    - relations
    - resources
    - sidecar
    - smoke
    - smoke_k8s
    - spaces_ec2
    - storage
    - unit
    - upgrade
    - upgrade_series
    - user
    - secrets_iaas
    - secrets_k8s
  skip-microk8s:
    - actions
    - agents
    - appdata
    - backup
    - bootstrap
    - branches
    - charmhub
    - cli
    - cmr
    - constraints
    - controller
    - credential
    - deploy
    - deploy_aks
    - firewall
    - hooks
    - hooktools
    - machine
    - manual
    - model
    - network
    - refresh
    - relations
    - resources
    - smoke
    - spaces_ec2
    - storage
    - unit
    - upgrade
    - upgrade_series
    - user
    - secrets_iaas
  skip-subtasks:
    - test_upgrade_simplestream_previous
