folders:
  timeout:
    model:
      test_model_migration: 90
      test_model_migration_version: 50
    magma:
      test_deploy_magma: 90
    deploy:
      test_deploy_bundles: 50
  unstable:
    deploy:
      lxd:
        - test_deploy_bundles
        - test_deploy_charms
      aws:
        - test_deploy_os
        - test_deploy_revision
    model:
      lxd:
        - test_model_config
        - test_model_multi
        - test_model_metrics
        - test_model_migration_saas_common
        - test_model_migration_saas_external
      aws:
        - test_model_config
        - test_model_multi
        - test_model_metrics
        - test_model_migration_saas_common
        - test_model_migration_saas_external
      google:
        - test_model_config
        - test_model_multi
        - test_model_metrics
        - test_model_migration_saas_common
        - test_model_migration_saas_external
    user:
      lxd:
        - test_user_login_password
      aws:
        - test_user_login_password
  ephemeral:
    - sidecar
    - smoke-aws
  skip-all:
    - examples
    - ovs_maas
    - static_analysis
    - ck
    - kubeflow
  skip-lxd:
    - caasadmission
    - coslite
    - deploy_caas
    - expose_ec2
    - magma
    - sidecar
    - spaces_ec2
    - storage
    - secrets_k8s
  skip-aws:
    - bootstrap
    - caasadmission
    - cli
    - constraints
    - coslite
    - deploy_caas
    - magma
    - sidecar
    - upgrade
    - upgrade_series
    - secrets_iaas
    - secrets_k8s
  skip-google:
    - agents
    - appdata
    - backup
    - bootstrap
    - branches
    - caasadmission
    - charmhub
    - cli
    - cmr
    - coslite
    - controller
    - credential
    - deploy
    - deploy_caas
    - expose_ec2
    - hooks
    - hooktools
    - machine
    - magma
    - manual
    - refresh
    - relations
    - resources
    - sidecar
    - smoke
    - spaces_ec2
    - storage
    - unit
    - upgrade
    - upgrade_series
    - user
    - secrets_iaas
    - secrets_k8s
  skip-azure:
    - agents
    - appdata
    - backup
    - bootstrap
    - branches
    - caasadmission
    - charmhub
    - cli
    - cmr
    - constraints
    - coslite
    - controller
    - credential
    - deploy
    - deploy_caas
    - expose_ec2
    - hooks
    - hooktools
    - machine
    - magma
    - manual
    - model
    - refresh
    - relations
    - resources
    - sidecar
    - smoke
    - spaces_ec2
    - storage
    - unit
    - upgrade
    - upgrade_series
    - user
    - secrets_iaas
    - secrets_k8s
  skip-microk8s:
    - agents
    - appdata
    - backup
    - bootstrap
    - branches
    - charmhub
    - cli
    - cmr
    - constraints
    - controller
    - credential
    - deploy
    - expose_ec2
    - hooks
    - hooktools
    - machine
    - manual
    - model
    - network
    - refresh
    - relations
    - resources
    - smoke
    - spaces_ec2
    - storage
    - unit
    - upgrade
    - upgrade_series
    - user
    - secrets_iaas
  skip-subtasks:
    - test_upgrade_simplestream_previous
