folders:
  timeout:
    cloud_azure:
      test_managed_identity: 60
    controllercharm:
      test_prometheus: 60
    network:
      test_network_health: 45
    secrets_iaas:
      test_secrets_vault: 60
    model:
      test_model_migration: 90
      test_model_migration_version: 50
    deploy:
      test_deploy_bundles: 50
      test_deploy_charms: 50
    kubeflow:
      test_deploy_kubeflow: 50
    cloud_gce:
      test_serviceaccount_credential: 60
    coslite:
      test_deploy_coslite: 45
  ephemeral:
    - sidecar
    - smoke-aws
  cross-cloud:
    - controllercharm-lxd
  skip-all:
    - examples
    - ovs_maas
    - static_analysis
    - ck
  lxd:
    - '*_lxd'
    - actions
    - agents
    - appdata
    - authorized_keys
    - backup
    - bootstrap
    - branches
    - charmhub
    - cli
    - cmr
    - constraints
    - controller
    - controllercharm
    - credential
    - dashboard
    - deploy
    - hooks
    - hooktools
    - machine
    - manual
    - model
    - model_multi
    - network
    - refresh
    - relations
    - resources
    - secrets_iaas
    - smoke
    - unit
    - unmanaged
    - upgrade
    - upgrade_series
    - user
  aws:
    - '*_aws'
    - '*_ec2'
    - actions
    - agents
    - appdata
    - authorized_keys
    - backup
    - branches
    - charmhub
    - cmr
    - controller
    - credential
    - dashboard
    - deploy
    - firewall
    - hooks
    - hooktools
    - machine
    - manual
    - model
    - model_multi
    - network
    - refresh
    - relations
    - resources
    - smoke
    - spaces_ec2
    - storage
    - unit
    - unmanaged
    - user
  google:
    - '*_gcp'
    - '*_gce'
    - actions
    - authorized_keys
    - constraints
    - controller
    - model
    - network
  azure:
    - '*_azure'
    - actions
    - authorized_keys
    - cloud_azure
    - deploy_aks
    - network
  microk8s:
    - '*_microk8s'
    - '*_k8s'
    - caasadmission
    - controllercharm
    - coslite
    - deploy_caas
    - kubeflow
    - sidecar
    - smoke_k8s_psql
  exclude-tasks:
    lxd:
      - controller-test_limit_access
    google:
      - controller-test_metrics
      - controller-test_query_tracing
    azure:
      - controller-test_limit_access
  skip-subtasks:
    - test_pebble_change_updated
    - test_upgrade_simplestream_previous
    - test_build
